<div class="back_image">
	<div class="black_box">
		<p>
		Want to ask your friends what you're up to? Have something on your mind that you want to compare?
		</p>
	</div>
	<div class="black_box">
		<p>
		We can make it easy for you to Go Live on FB. Just go through all <a href="/dashboard">STEPS</a> and we'll do the rest for you.
		</p>
	</div>
</div>