<%= form_for(@post) do |f| %>
    <% @post.comparisons.times do |index| %>
        <%= render "comparison_object", :f => f %> 
    <% end %>
    <div class="actions">
    <%= f.submit %>
    </div>
    <% end %>