<main>
  
  <input id="tab1" type="radio" name="tabs" >
  <label for="tab1"><a href="/steps">Step 1</a></label>
    
  <input id="tab2" type="radio" name="tabs">
  <label for="tab2"><a href="/posts/new">Step 2</a></label>
    
  <input id="tab3" type="radio" name="tabs" checked>
  <label for="tab3"><a href="/posts/objects">Step 3</a></label>
    
  <input id="tab4" type="radio" name="tabs">
  <label for="tab4"><a href="/posts/:id/preview">Step 4</a></label>

  <input id="tab5" type="radio" name="tabs">
  <label for="tab5"><a href="/posts/:id/publish">Step 5</a></label>
  
  <section> 
  <%= render 'objects' %>
  </section>
</main>
