<main>
  <input id="tab1" type="radio" name="tabs" >
  <label for="tab1"><a href="/steps">Step 1</a></label>
    
  <input id="tab2" type="radio" name="tabs">
  <label for="tab2"><a href="/posts/new">Step 2</a></label>
    
  <input id="tab3" type="radio" name="tabs">
  <label for="tab3"><a href="/posts/objects">Step 3</a></label>
    
  <input id="tab4" type="radio" name="tabs">
  <label for="tab4"><a href="/posts/:id/preview">Step 4</a></label>

  <input id="tab5" type="radio" name="tabs" checked>
  <label for="tab5"><a href="/posts/:id/publish">Step 5</a></label>

  <section id="last_step">    
    <div id="division">
    <p id="text">As soon as the 'Go Live' button is activate, Click it and <span>Finish the steps here as well.</span></p>
    <%= image_tag "step_5_1.jpg" ,:class => "step_image"%>
    </div>


    <%= link_to "FINISH",finish_path(@post.id), method: "get", class: "button"%>
  </section>
  <script>
    alert("Do not click 'FINISH' button on next page before going LIVE on FB")
  </script>
</main>