<main>
  
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1"><a href="/steps">Step 1</a></label>
    
  <input id="tab2" type="radio" name="tabs">
  <label for="tab2"><a href="/posts/new">Step 2</a></label>
    
  <input id="tab3" type="radio" name="tabs">
  <label for="tab3"><a href="/posts/objects">Step 3</a></label>
    
  <input id="tab4" type="radio" name="tabs">
  <label for="tab4"><a href="/posts/:id/preview">Step 4</a></label>

  <input id="tab5" type="radio" name="tabs">
  <label for="tab5"><a href="/posts/:id/publish">Step 5</a></label>
    
  <section id= "dashboard">
  	<div class="aim">
  		Our aim of this step is to generate a stream key from facebook so that we can use it to stream video to your post. 
  	</div>
	<div id="division">
	<p id="text">1. Click the <a id="liveButton" class="fb_button">New Post</a> button and login to your facebook account.</p>
	<%= image_tag "step_1_1.png" ,:class => "step_image"%>
	</div>

	<div id="empty"></div>

	<div id="division">
	<p id="text">2. Select where you want to post your video from the options provided and then press the next button.</p>
	<%= image_tag "step_1_2.jpg" ,:class => "step_image"%>
	</div>

	<div id="empty"></div>

	<div id="division">
	<p id="text" class="stext">3. Copy the STREAM KEY and give it to us in step 2.</p>
	<%= image_tag "step_1_3.jpg" ,:class => "step_image"%>
	</div>
  <div class="alert"> Do not close the facebook window </div>
	</section>

	<div class="nextpost">
	 <%= link_to 'NEXT', new_post_path%>
	</div>

	
</main>
<script>
document.getElementById('liveButton').onclick = function() {
  FB.ui({
    display: 'popup',
    method: 'live_broadcast',
    phase: 'create',
}, function(response) {
    if (!response.id) {
      alert('dialog canceled');
      return;
    }
    FB.ui({
      display: 'popup',
      method: 'live_broadcast',
      phase: 'publish',
      broadcast_data: response,
    }, function(response) {
    });
  });
};
</script>

