// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700'); 

main {
  padding-top: 100px;
  min-width: 320px;
  max-width: 1200px;
  padding: 30px;
  margin: 0 auto;
  margin-top: 30px; 
  margin-bottom: 100px;
  background: #fff;
  transition: all 0.5s ease;

  label {
  display: inline-block;
  margin: 0 0 -1px;
  font-size: 30px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  border: 1px solid transparent;
  width: 19%;
  }

  a{
    text-decoration: none;
    color: #aaa;
  }

  a:hover {
    color: #666;
    cursor: pointer;
  }

  input[name=tabs] {
    display: none;
  }


  input[name=tabs]:checked + label {
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
    a
    {
      color: #666;
    }
  }

  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3,
  #tab4:checked ~ #content4,
  #tab5:checked ~ #content5 {
    display: block;
  }


  section {
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
  }

  #dashboard{
  
      display : flex;
      flex-wrap : wrap;
      flex-direction:column;

      .aim
      {
        padding: 30px 10% 30px 10%;
        font-size: 28px;
        line-height: 40px;
        text-align:center;
        font-weight: 600;
      }
      
      #division{
      padding: 20px 30px 20px 30px;
      display:flex;
      justify-content:space-between;
      }

      .step_image{
        height: 360px;
          width:470px;
          margin-right: 50px;
      } 

      #text{
        width: 40%;
        color: hsl(0,0%,30%);
        font-size: 18px;
        text-align:center;
        padding-top: 50px;
      }

      .stext{
        margin-top:100px;
      }

      #empty{
        border: 1px solid orange;
        margin: 20px 300px 20px 300px;
      }

      .alert
      {
        margin-top: 60px;
        display:flex;
        justify-content: space-around;
        text-align:center;
        font-size:32px;
        font-weight: 600;
      }

      .fb_button
      {
        align-items: center;
        background: #4267b2;
        color: white;
        font-size:20px;
        font-weight: 600;
        padding: 6px;
        transition: all 0.1s ease-out;
        box-shadow: 0 0 5px 1px hsl(220,46%,48%);
      }

      a[class="fb_button"]:hover
      {
        padding: 7px;
        font-size: 21px;
      }
  }

  .nextpost{ 
      padding : 50px;
      display:flex;
      justify-content: space-around;

      a
      {
        background-color: orange;
        color: white;
        font-size:26px;
        font-weight: 600;
        padding: 10px 20px 10px 20px;
        box-shadow: 1px 1px 3px 1px hsl(29,100%,40%);
        transition: all 0.1s ease-out;
      }
  }

  #new_post{


    display:flex;
    flex-direction:column;
    align-items:center;
    flex-wrap :wrap;
    margin-top: 50px;

    .field{
      display : flex;
      width: 50%;
      flex-wrap : wrap;
      padding-bottom: 10px;
    }

    label{
      font-size: 25px;
      width: 25%;
      height: 30px;
      font-weight : bolder;
      display : inline;
      padding : 0;
      margin-right: 50px;
      text-align: initial;
    }

    input[type="text"]{
        display : block;
        width: 50%;
        border:none;
        border-bottom : solid 1px #bbb;
        transition: border 0.1s;
    }

    input[type="text"]:focus{
        outline: none !important;
        border-bottom : solid 2px orange;
    }

    input[type=submit]{
        color:white;
        background-color : orange;
        border-color:orange;
        height : 40px;
        width: 120px;
        text-align:center;
        font-size : 30px;
        border-shadow : none;
    }
  }
}


#new_compare_object{
    display : flex;
    flex-direction : column;
    flex-wrap : wrap;

    .field{
      display : flex;
      flex-wrap : wrap;
      justify-content: space-around;
    }

    label{
      font-size: 20px;
      width: 25%;
      height: 20px;
      font-weight : bolder;
      display : inline;
    }

   input[type="text"]{
        display : inline;
        width: 50%;
        border:none;
        border-bottom : solid 1px #bbb;
        transition: border 0.1s;
    }

    input[type="text"]:focus{
        outline: none !important;
        border-bottom : solid 2px orange;
    }

    #radio{
        color : orange;
        display : inline;
        padding-right: 5px;
        padding-left :  5px;
    }

    input[type="submit"]{
        color:white;
        background-color : orange;
        border-color:orange;
        height : 40px;
        width: 120px;
        text-align:center;
        font-size : 30px;
        border-shadow : none;
    }
}

#modal{
  height: 100px;
  width: 100px;
  background-color : grey;
}

.back_image
{
	background-image: image-url('1.jpg');
	background-size: 100% 574px;
	background-repeat: no-repeat;
	height:574px;
	display: flex;
	flex-direction:column;
	justify-content: space-around;
	width:100%;

	.black_box
	{
		display:flex;
		justify-content: space-around;
		align-items: center;
		width: 40%;
		margin: 2% 0% 2% 50%;
		background-color: black;
		opacity: 0.7;
		border-radius: 60px;
		
		p
		{
			margin: 30px 30px 30px 30px;
			font-weight: 200;
			font-size: 34px;
			line-height: 40px;
			color: white;
			text-align: center;
			a
			{
				text-decoration:none;
				color: red;
			}
		}
	}
}

.section
{
  background: white;
	padding: 60px 0 60px 0;
  .heading
	{
		display: flex;
		justify-content: space-around;
		align-items: center;
		font-size: 48px;
		text-align:center;
		font-family: "Futura";
		color: hsl(0,0%,26%);
		margin-bottom: 60px;
	}
	.content
	{
    padding: 0px 24% 0px 24%;
		text-align:center;
		line-height: 32px;
		font-size:19px;
		color:hsl(0, 0%, 40%);
		margin-bottom:20px;
		display:flex;
    justify-content: space-around;
		flex-wrap: wrap;
	}
  .list_head
  {
    padding: 0px 18% 0px 18%;
    text-align:center;
    line-height: 32px;
    font-size:24px;
    color:hsl(0, 0%, 40%);
    margin-bottom:20px;
  }
  .list
  {
    padding: 0 20% 0 20%;
    list-style: square;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li
    {
      width: 44%;
      margin: 20px;
    }
  }
  .video_box
  {
    list-style:none;
    .video
    {
      width: 300px;
      height:200px;
    } 
  }

}

.grey
{
  background: hsl(0,0%,95%);
  ul
  {
    padding: 0 8% 0 10%;
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  li
  {
    margin: 0 20px 0 20px;
  }
  .name
  {
    text-align: center;
    padding: 15px 0 15px 0;
    font-size: 27px;
    font-weight: 600;
  }
  .description
  {
    padding: 15px 0 15px 0;
    font-size: 16px;
    text-align: center;
  }
  
}
.field
{
  margin: 10px 0 5px 0;
  line-height: 40px;
}
.select
{
  width: 70px;
  background: white;
  color: #555;
  margin: 0 7px 0 7px;
  font-size: 16px;
  border: 0px;
  box-shadow: 1px 1px 3px #777;
}

.file_select
{
  padding: 3px 0 1px 3px;
  font-size:16px;
  box-shadow: 1px 1px 1px #777;
}









@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}


@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}