// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700'); 

#dashboard{
	
	display : flex;
	flex-wrap : wrap;
	flex-direction:column;
}

#division{
	padding: 20px 30px 20px 30px;
	display:flex;
	justify-content:space-between;
}

.dimage_01{
	height: 140px;
    width:470px;
    margin-right: 50px;
}

.dimage_02{
	height: 220px;
    width:200px;
    margin-right: 150px;
}

.dimage_03{
	margin-top: 25px;
	height: 110px;
    width:560px;
    margin-right: 20px;
}

.dimage_04{
	height: 350px;
    width:520px;
    margin-right: 20px;
}

#text{
	width: 40%;
	color: #888;
	font-size: 18px;
	text-align:center;
	padding-top: 50px;
}

.stext{
	margin-top:100px;
}

#empty{
	border: 1px solid orange;
	margin: 20px 300px 20px 300px;
}

.button {
    display: block;
    width: 220px;
    height: 50px;
    background: orange;
    padding: 13px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration:none;
    font-size: 22px;
}

#nextpost{
    padding : 50px;
	display:flex;
	justify-content: space-around;
}

#nextpost > a:hover{
	color:white;
	background-color: orange;
}

#nextpost > a:visited{
	color:white;
}
